---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Article from "../components/Article.astro";

import projects from "../util/projects.db";

import { getCollection } from "astro:content";
import { map } from "astro/zod";

const articles: any[] = (await getCollection('blog')).sort(
  (a: any, b: any) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf(),
)

const articleList: any[] = articles.map((post) => ({
  link: `/blog/${post.slug}`,
  pubDate: post.data.pubDate,
  title: post.data.title,
  description: post.data.description,
  category: post.data.category,
  tags: post.data.tags,
}))
---

<Layout title="✊|ABB" description="Welcome, explore and learn and know a little about me 🚀">
  <Hero />
  <section class="featured mb-10 md:mb-16">
    <h2 class="text-md font-semibold mb-4">Featured</h2>
    <ul role="list" class="flex flex-wrap md:flex-nowrap gap-3">
      <Card
        title={projects[0].title}
        body={projects[0].description}
        image={projects[0].image}
        url={projects[0].url}
        githubUrl={projects[0].githubUrl}
      />
      <Card
        title={projects[1].title}
        body={projects[1].description}
        image={projects[1].image}
        url={projects[1].url}
        githubUrl={projects[1].githubUrl}
      />
    </ul>
  </section>
  <section class="articles mb-10 md:mb-16">
    <h2 class="text-lg font-semibold mb-4">Blogs</h2>
    <div
      class="mx-auto flex max-w-2xl gap-x-8 gap-y-4 lg:max-w-none lg:grid-cols-1"
    >
      {articleList.map( article => <Article data={article} />)}
      <!-- <Article data /> -->
      <!-- More posts... -->
    </div>
  </section>
</Layout>
