---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  body: string;
  image?: string;
  url: string;
  githubUrl?: string;
}

const { title, body, image, url, githubUrl } = Astro.props;
---

<li class="border w-full bg-white hover:shadow-md rounded-xl md:flex-basis-1/2">
  <div class="p-4 flex flex-col">
    <h2 class="flex font-bold text-base border-b pb-2">
      <span class="mr-1">{title}</span>
      {
        githubUrl && (
          <a href={githubUrl}>
            <Icon name="mdi:github" size={20} />
          </a>
        )
      }
    </h2>
    <div class="flex flex-row gap-2 pt-3 justify-between">
      <div class="flex flex-col gap-2 justify-between basis-5/6">
        <p class="text-sm">{body}</p>
      </div>
      <figure class="basis-2/6">
        <img class="p-1 border rounded-xl" src={image} alt="img" />
      </figure>
    </div>
    <div>
      <a
        href={url}
        class="float-left mt-2 bg-gradient-to-r from-[#0f6cbd] to-[#3c45ab] rounded-xl text-white font-semibold py-0.5 px-2 hover:bg-gradient-to-r hover:to-[#0f6cbd] hover:from-[#3c45ab]"
        >Open</a
      >
    </div>
  </div>
</li>
