---
interface Props {
  title: string;
  description: string;
}

import { ViewTransitions } from "astro:transitions";

const { title, description } = Astro.props;

const production = process.env.NODE_ENV === "production";
---

<!-- (gtag.js) -->{
  production && (
    <>
      <script
        is:inline
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-BB8H8RXCSS"
      />
      <script is:inline async src="../util/analytics.js" />
    </>
  )
}

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/my-logo-B-yellow.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

<ViewTransitions />
<title>{title}</title>
